.swiper-container--price {
  min-width: 320px;
  height: 260px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  @media (min-width: 768px) {
    width: auto;
    height: auto;
    margin: 24px;
  }
}

.swiper-container__header {
  display: grid;
  grid-template-columns: 50% 15% 15% 125px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  color: $text-color-secondary;
  opacity: 0.72;
  margin: 16px;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 1120px) {
    margin: 16px 24px;
  }

  &--price {
    display: grid;
    grid-template-columns: 50% 15% 15% 125px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    color: $text-color-secondary;
    opacity: 0.72;
    margin: 0;
    padding: 16px 0;

    @media (min-width: 768px) {
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: 50% 15% 15% 125px;
      margin: 0;
      padding: 0;
      align-items: center;
      border: none;
      border-radius: unset;
    }

    @media (min-width: 1120px) {
      margin: 0;
      padding: 0;
    }
  }
}

.swiper-price__wrapper {
  @media (min-width: 768px) {
    flex-direction: column;
    background: $background-title;
    border-radius: 6px;
  }
}

.swiper-slide__item--price {
  width: 260px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  background: $background-title;
  border: 1px solid $border-color;
  border-radius: 6px;
  transition: 0.3s;

  @media (min-width: 768px) {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 50% 15% 15% 125px;
    margin: 0 16px;
    padding: 16px 0;
    align-items: center;
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: unset;
  }

  @media (min-width: 1120px) {
    margin: 0 24px;
    padding: 24px 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20px 3px $btn-halo;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: 768px) {
      box-shadow: none;
    }
  }
}

.swiper-slide__name {
  margin-top: 36px;
  position: relative;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  &::before {
    content: 'Ремонтные услуги';
    line-height: 16px;
    color: $text-color-secondary;
    opacity: 0.72;
    position: absolute;
    top: -16px;
    white-space: nowrap;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.swiper-slide__value {
  position: relative;

  &::before {
    content: 'Цена';
    line-height: 16px;
    color: $text-color-secondary;
    opacity: 0.72;
    position: absolute;
    top: -16px;
    white-space: nowrap;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.swiper-slide__time {
  position: relative;

  &::before {
    content: 'Срок';
    line-height: 16px;
    color: $text-color-secondary;
    opacity: 0.72;
    position: absolute;
    top: -16px;
    white-space: nowrap;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.swiper-slide__order {
  align-self: flex-end;
  position: absolute;
  bottom: 16px;

  @media (min-width: 768px) {
    position: unset;
  }
}

.button-confirm {
  border: none;
  outline: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: $background-title;
  background: $btn-box-shadow;
  border-radius: 16px;
  height: 32px;
  padding: 4px 40px 4px 12px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &::after {
    content: url(../img/dropdown.svg);
    position: relative;
    left: 16px;
  }

  &:focus {
    filter: drop-shadow(0 0 1px $btn-halo);
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 0 2px $btn-box-shadow;
      -webkit-animation: si-button-pulse 0.8s 0s ease-out 1;
      -moz-animation: si-button-pulse 0.8s 0s ease-out 1;
      animation: si-button-pulse 0.8s 0s ease-out 1;
  }
}

@keyframes si-button-pulse {
  from {box-shadow: 0 0 4px 3px $btn-box-shadow, 0 0 6px 7px $btn-box-shadow;}
  to {box-shadow: 0 0 5px 2px rgba(255, 48, 26, 0), 0 0 5px 5px rgba(255, 48, 26, 0);}
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background: #DDDDDD !important;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC !important;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
