.block-wrapper {
  padding: 0;
  margin: auto;
  font-family: 'TT Lakes', sans-sefir;
  background-color: $background-main;
  color: $text-color-main;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
}

.subtitle {
  background-color: $background-title;
  box-sizing: border-box;
}

.subtitle__page {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $text-color-secondary;
  margin: 0;
  padding: 16px;

    @media (min-width: 768px) {
    padding: 16px 24px;
  }

  @media (min-width: 1366px) {
    padding: 16px 32px;
    background: linear-gradient(270deg, $background-main 0%, $background-title 98.61%);
  }
}

.swiper-container {
  min-width: 320px;
  height: 110px;
  margin: 16px;

  @media (min-width: 768px) {
    width: auto;
    height: auto;
    margin-left: 0px;
  }
}

.shown-block {
  max-height: none;
}

.swiper {
  width: 240px;
  height: 72px;
}

.swiper-slide__item {
  width: 240px;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: $background-title;
  border: 1px solid $border-color;
  border-radius: 6px;
  transition: 0.3s;

  @media (min-width: 768px) {
    width: 224px;
    margin: 0 0 16px 24px;
  }

  @media (min-width: 1440px) {
    width: 240px;
    margin: 0 0 16px 32px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20px 3px $btn-halo;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.swiper-slide__link {
  font-size: 0px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  background: url(../img/transition.svg);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: drop-shadow(0 0 1px $btn-halo);
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 0 2px $btn-box-shadow;
      -webkit-animation: si-button-pulse 0.8s 0s ease-out 1;
      -moz-animation: si-button-pulse 0.8s 0s ease-out 1;
      animation: si-button-pulse 0.8s 0s ease-out 1;
  }
}

@keyframes si-button-pulse {
  from {box-shadow: 0 0 4px 3px $btn-box-shadow, 0 0 6px 7px $btn-box-shadow;}
  to {box-shadow: 0 0 5px 2px rgba(255, 48, 26, 0), 0 0 5px 5px rgba(255, 48, 26, 0);}
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background: #DDDDDD !important;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC !important;
}

.expand-btn {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  min-height: 24px;
  padding: 4px 12px 4px 30px;
  position: relative;
  margin: 24px 0 32px 32px;
  outline: none;
  display: inline-block;
  background-color: #FFFFFF00;
  border: 2px solid #41F6D700;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    display: none;
  }

    &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    background: url("../img/expand.svg") 50% no-repeat;
    transition: all 0.5s ease-in-out;
  }

  &:hover::before {
    transform: rotate(180deg) scale(1.5);
  }

  &:hover {
    background-color: $background-title;
    border: 2px solid $btn-border-color;
  }

  &:focus {
    border: 2px solid $btn-border-color;
  }

  &:active {
    background-color: $background-title;
    border: 2px solid $btn-border-color;
  }
}

@media (min-width: 768px) {

  .swiper-pagination {
    display: none;
  }

  .swiper-container .swiper-slide {
    width: auto;
    height: auto;
  }

  .slide {
    flex-wrap: wrap;
    max-height: 160px;
    overflow: hidden;
  }

  .slide_maxHeight--none {
    max-height: none;
  }
}
