.dropdown-menu {
  position: fixed;
  width: 100%;
  min-width: 340px;
  max-width: 420px;
  top: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  flex-direction: column;
  left: -320px;
  z-index: 20;
  box-sizing: border-box;
  overflow-y: auto;
  flex-direction: column;

  @media (min-width: 320px) {
    width: 320px;
    left: -340px;
    max-width: unset;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    transition: left 2s;
    z-index: 2;
  }
}

.dropdown-menu--size {
  padding: 24px;
  display: flex;
}

.dropdown-menu--open {
  height: 100%;
  left: 0;
  opacity: 1;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  transition: left 1s;
  z-index: 3;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
              -2px 0px 4px rgba(69, 79, 126, 0.02);
}

.dropdown-menu--close {
  height: 100%;
  left: -340px;
  opacity: 2;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  transition: left 2s;
  z-index: 10;
}

.dropdown-menu {
  @media (min-width: 1366px) {
    height: 100%;
    display: flex;
    left: 0;
    box-shadow: none;
    transform: translateX(0);
  }
}

.header-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.link-btn {
  font-size: 0px;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  opacity: 1;
  transition: all 0.1s;
}

.link-btn:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 1.5s ease-out;
}

.header-content__btn-close {
  background: url(../img/close.svg);
  margin-right: 16.73px;

  @media (min-width: 1366px) {
    display: none;
  }
}

.header-content__logo {
  margin-right: auto;
}

.header-content__logo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 1s ease;
}

.header-content__btn-search {
  background: url(../img/search.svg);
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu_navigation--dropdown {
  padding: 0;
  margin: 16px 0 48px;
}

.menu-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 32px;
  font-weight: 500;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.menu-link::before {
  content: url(../img/highlight.svg);
  position: absolute;
  left: 0px;
  transform: scaleY(0.68) translateY(-13px);
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-link:hover {
  color: #7E7E82;
}

.menu-link:hover::before {
  opacity: 1;
}

.section-flex {
  margin-top: 30px;
}

.nav {
  padding-bottom: 16px;
}

.nav__btn-requestCall {
  background: url(../img/call.svg);
}

.nav__btn-feedback {
  background: url(../img/chat.svg);
  margin-left: 16px;
}

.nav__btn-profile {
  background: url(../img/profile.svg);
  margin-left: 16px;
}

.contacts-decoration {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.contacts__mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

.contacts__mail:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 1s ease;
}

.contacts__phone-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 0;
}

.contacts__phone-number:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 1s ease;
}

.lang-switcher {
  margin-top: 40px;
}

.lang-switcher__radio {
  display: none;
}

.lang-switcher__label:hover {
  cursor: pointer;
}

.lang-switcher__label {
  margin-right: 6px;
  transition: 0.3s;
}

.lang-switcher__radio:checked + .lang-switcher__label {
  opacity: 0.5;
}
