.dropdown-menu {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 420px;
  top: 0;
  padding: 24px 16px 24px 16px;
  box-sizing: border-box;
  background: $background-title;
  flex-direction: column;
  z-index: 20;
  box-sizing: border-box;
  overflow-y: auto;
  flex-direction: column;

  @media (min-width: 320px) {
    width: 320px;
    left: -340px;
    max-width: unset;
    transition: left 0.6s;
    z-index: 2;
  }

  @media (min-width: 360px) {
    width: 360px;
    left: -365px;
    max-width: unset;
    transition: left 1s;
    z-index: 2;
  }

  @media (min-width: 768px) {
    width: 360px;
    height: 100vh;
    left: -365px;
    max-width: unset;
    transition: left 1s;
    z-index: 2;
  }

  &--size {
    padding: 24px;
    display: flex;
  }

  &--open {
    height: 100vh;
    left: 0;
    opacity: 1;
    transition: left 0.6s;
    z-index: 3;
    box-shadow: $modal-box-shadow;
  }

  @media (min-width: 1366px) {
    height: auto;
    display: flex;
    left: 0;
    box-shadow: none;
    transform: translateX(0);
    opacity: 1;
  }
}

.dropdown-menu--close {
  left: -360px;
  opacity: 2;
  transition: left 2s;
  opacity: 0.9;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: stretch;
  align-items: center;

  &__btn-close {
    background: url(../img/close.svg);
    margin-right: 16.73px;
    height: 100%;

    @media (min-width: 1366px) {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;

    &:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      transition: all 1s ease;
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  &__btn-search {
    background: url(../img/search.svg);
  }
}

.link-btn {
  font-size: 0px;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  opacity: 1;
  transition: all 0.1s;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: transform 1.5s ease-out;
  }
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu_navigation--dropdown {
  padding: 0;
  margin: 16px 0 48px;
}

.menu-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 32px;
  font-weight: 500;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;

  &::before {
    content: url(../img/highlight.svg);
    position: absolute;
    left: 0px;
    transform: scaleY(0.68) translateY(-13px);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    color: $text-color-secondary;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:hover::before {
    opacity: 1;
  }
}

.section-flex {
  margin-top: 30px;
}

.nav {
  padding-bottom: 16px;

  &__btn-requestCall {
    background: url(../img/call.svg);
  }

  &__btn-feedback {
    background: url(../img/chat.svg);
    margin-left: 16px;
  }

  &__btn-profile {
    background: url(../img/profile.svg);
    margin-left: 16px;
  }
}

.contacts-decoration {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.contacts__mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: 360px) {
    margin-right: 20px;
  }

 & :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 1s ease;
  }
}

.contacts__phone-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 1s ease;
  }
}

.lang-switcher {
  margin-top: 40px;

  &__radio {
    display: none;
  }

  &__label {
    margin-right: 6px;
    transition: 0.3s;
  }

  &__label:hover {
    cursor: pointer;
  }
}

.lang-switcher__radio:checked + .lang-switcher__label {
  opacity: 0.5;
}
