.request-call--modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  min-height: 320px;
  width: 100%;
  height: 100%;
  padding: 24px 16px 24px 16px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #FFFFFF;

  @media (min-width: 320px) {
    width: 320px;
    right: -340px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    z-index: 2;
  }

  @media (min-width: 360px) {
    width: 360px;
    right: -365px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    z-index: 2;
  }

  @media (min-width: 768px) {
    width: 320px;
    right: -390px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    z-index: 2;
  }

  @media (min-width: 1366px) {
    width: 440px;
    right: -520px;
    overflow-y: initial;
    border-top: 1px solid transparent;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
              -2px 0px 4px rgba(69, 79, 126, 0.02);
  }
}

.request-call--open {
  height: 100%;
  right: 0;
  opacity: 1;
  -webkit-transition: right 2s;
  -moz-transition: right 2s;
  transition: right 2s;
  z-index: 3;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
              -2px 0px 4px rgba(69, 79, 126, 0.02);
}

.request-call__close {
  height: 100%;
  right: -360px;
  opacity: 2;
  -webkit-transition: right 2s;
  -moz-transition: right 2s;
  transition: right 2s;
  z-index: 10;

  @media (min-width: 768px) {
    height: 100%;
    right: -390px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    opacity: 0.9;
    z-index: 2;
  }

  @media (min-width: 1366px) {
    height: 100%;
    right: -520px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    opacity: 0.9;
    z-index: 2;
  }
}

.request-call--open {
  height: 100%;
  right: 0;
  opacity: 1;
  -webkit-transition: right 2s;
  -moz-transition: right 2s;
  transition: right 2s;
  z-index: 3;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
              -2px 0px 4px rgba(69, 79, 126, 0.02);
}

.request-call__close {
  height: 100%;
  right: -360px;
  opacity: 2;
  -webkit-transition: right 2s;
  -moz-transition: right 2s;
  transition: right 2s;
  z-index: 10;

  @media (min-width: 768px) {
    height: 100%;
    right: -390px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    opacity: 0.9;
    z-index: 2;
  }

  @media (min-width: 1366px) {
    height: 100%;
    right: -520px;
    max-width: unset;
    -webkit-transition: right 2s;
    -moz-transition: right 2s;
    transition: right 2s;
    opacity: 0.9;
    z-index: 2;
  }
}

.request-call__header {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;

  @media (min-width: 768px) {
    margin: 5px 0 24px;
  }
}

.request-call__header::before {
  content: url(../img/highlight.svg);
  transform: scaleY(0.8) translateY(-6px);
  position: absolute;
  top: 103px;
  left: 0px;

  @media (min-width: 768px) {
    top: 30px;
  }
}

.request-call__btn--close {
  background-image: url(../img/close.svg);

  @media (min-width: 768px) {
    margin-left: -78px;
    position: inherit;
  }
}

.request-call__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 40px 0 24px;

  @media (min-width: 768px) {
    margin: 5px 0 24px;
  }
}

.form {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
  display: flex;
  flex-direction: column;

  &__textarea {
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      margin-bottom: 16px;
      min-height: 120px;
      box-sizing: border-box;
      font: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      outline: none;
      resize: none;
      overflow: auto;
  }

  &__warning {
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      margin: 0;
      margin-bottom: 16px;
  }

  &__link {
    text-decoration: none;
    color: #FF3E79;

    &:hover {
      filter: contrast(2.5);
    }
  }

  &__button {
    margin-left: auto;
  }
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
}

.form__button {
  margin-left: auto;
}



