.page {
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  padding: 0;
  margin: auto;
  font-family: 'TT Lakes', sans-sefir;
  background-color: $background-main;
  color: $text-color-main;

  @media (min-width: 768px) {
    min-width: 768px;
  }

  @media (min-width: 1366px) {
    display: flex;
    max-width: 1920px;
  }

  &__size {
    min-width: 320px;
  }
}
