$background-main: #F8F8F8;
$background-title: #FFFFFF;

$border-color: #EAEAEA;

$btn-halo: rgba(127,127,127,0.5);
$btn-box-shadow: #FF3E79;
$btn-border-color: #41F6D7;

$text-color-main: #1B1C21;
$text-color-secondary: #7E7E82;

$modal-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
                  -2px 0px 4px rgba(69, 79, 126, 0.02);
